body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    color: #333;
}

.container, .presentation {
    padding: 20px;
}

h1 {
    color: #007bff;
    font-size: 32px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}
.extra-content, .contact-form, .add-client {
    margin-top: 20px;
}

.contact-form h2, .add-client h2 {
    color: darkgreen;
}

.contact-form label, .add-client label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input, .add-client input, .add-client select {
    width: 50%; 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form button, .add-client button {
    padding: 10px 20px;
    background-color: darkgreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover, .add-client button:hover {
    background-color: #006400;
}
